@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Creepster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.header-top {
  background: #000;
  height: 70px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ff0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.l-left, .l-right {
  color: #ff0000;
  text-shadow: 0 0 10px #ff0000;
  margin: 0;
  padding: 0 20px;
}

.l-left:hover, .l-right:hover {
  color: #fff;
  text-shadow: 0 0 20px #ff0000;
}

a {
  text-decoration: none;
  color: inherit;
}
